* {
  box-sizing: border-box;
  margin: 1rem;
  text-align: center;
}
.container {
  display: grid;    
  /*! sırasıyla 200px 4 vw ve 20 rem lık 3 adet sütün tanımlama*/
  grid-template-columns: 200px 40vw 20rem;
  grid-template-rows: 100px 200px 20vh 4rem;
  justify-content: center;
  /* align-items: flex-end; */
}
.content {
  background-color: wheat;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content7{
  background-image: url(https://cdn.pixabay.com/photo/2022/08/17/08/58/sun-has-7391959__340.jpg) ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  
}

.content5{
  background-color: cadetblue;
}