.p1 {
    border-width: 3px 10px 20px 15px ;
    border-style: solid;
    border-color: blue yellow red green;

}

.p2{
    border: 5px dashed red;
}

.p3{
    border: 10px solid orange;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-color: aqua;
}

.p4{
    border: 8px double rgb(251, 0, 255) ;
}

.p5{
    border: 15px groove orangered;
}












