*{
    margin: 0;
}

.img-float{
    width: 40%;
    float: left;
    margin-right: 10px;
    /* margin-left: 20px; */
}
<<<<<<< HEAD
=======

>>>>>>> bf95b90007485a60e377c22e91d0fcb8b08c3697
.par1{
    background-color: coral;
    text-align:left;
}

.par2{
    /* clear: both; */
}

.clear{
    clear: both;
}

.box{
    float: left;
    font-size: 2rem;
}


.box1{
    background-color: darkcyan;
    width: 20%;

}

.box2{
    background-color: darkgoldenrod;
    width: 50%;

}

.box3{
    background-color: darkviolet;
    width: 20%;
}